# Dependencies
node_modules/

# Build outputs
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.*.local

# OS / IDE files
.DS_Store
Thumbs.db
*.log

# Editors
.vscode/
.idea/
